.tabs {
    display: flex;
    gap: 4px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    border-right: 1px solid gray;
    background-color: #f1f1f1;
    width: fit-content;
    padding: 4px;
    border-radius: 8px;
  }
  
  .tab {
    padding: 10px 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 7px;
  }
  
  .tab.active {
    background-color: #201323;
    color: white;
  }
  
  .tab-content {
    padding: 20px;
    background-color: #fff;
  }
  