* {
  box-sizing: border-box;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
}

.scroll__to > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin: 0 0 0.5rem 0;
  position: relative;
  font-weight: 700;
  user-select: none;
}
.scroll__to > a:active {
  top: 1px;
}
.scroll__to > a:focus {
  background: #4f46e5;
  color: white;
}
.scroll__to > a {
  border: 2px solid #4f46e5;
  color: #4f46e5;
}
.scroll__to {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}